.tippy-tooltip {
  width: auto !important;
}
.bxTippy {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  max-width: 800px;
  text-align: left;
  font-size: 14px;
  font-size: 0.875rem;
}
.bxTippy a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.bxTippy a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.bxTippyBody {
  max-height: 200px;
  overflow: auto;
  margin: 5px;
  margin: 0.3125rem;
}
.bxChapter {
  display: block;
}
.bxChapter:not(:first-child) {
  margin-top: 10px;
  margin-top: 0.625rem;
}
.bxChapterNumber {
  font-weight: bold;
}
.bxVerseNumber {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5em;
}
.bxPassageVersion {
  font-size: 75%;
  color: hsl(0, 0%, 70%);
  float: right;
  line-height: 19.6px;
  line-height: 1.225rem;
  margin-left: 16px;
  margin-left: 1rem;
}
.tippy-tooltip.dark-theme .bxPassageVersion {
  color: hsl(0, 0%, 50%);
}
.bxInfo {
  font-style: italic;
  margin-top: 20px;
  margin-top: 1.25rem;
}
.bxTippyFooter {
  background: hsl(0, 0%, 95%);
  margin: 0 -9px -5px; /* Reach to tippy border */
  margin: 0 calc(-0.3125rem - 4px) -0.3125rem; /* Reach to tippy border */
  padding: 5px 15px;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0 0 4px 4px;
}
.bxTippyFooter:after {
  display: block;
  clear: both;
  content: '';
}

.tippy-tooltip.dark-theme .bxTippyFooter {
  background: hsl(0, 0%, 25%);
}
.bxPassageLink {
  font-weight: 600;
  margin-right: 16px;
  margin-right: 1rem;
}
.bxCopyrightTriggerLabel {
  cursor: pointer;
  float: right;
  font-size: 1rem;
  line-height: 1.4;
  color: #007bff;
}
.bxCopyrightTriggerLabel:hover {
  color: #0056b3;
}
.bxCopyrightDetails {
  display: none;
  text-align: right;
  margin: 5px 0;
  line-height: 25px;
}
#bxCopyrightTrigger {
  position: absolute;
  left: -9999px;
  left: -100vw;
}
#bxCopyrightTrigger:checked + .bxCopyrightDetails {
  display: block;
}

/* Spinner (taken from https://projects.lukehaas.me/css-loaders/) */
.bxLoader,
.bxLoader:before,
.bxLoader:after {
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.bxLoader {
  color: #555;
  font-size: 10px;
  margin: -10px auto 20px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.bxLoader:before,
.bxLoader:after {
  content: '';
  position: absolute;
  top: 0;
}
.bxLoader:before {
  left: -1.75em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.bxLoader:after {
  left: 1.75em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 1.25em 0 -0.65em;
  }
  40% {
    box-shadow: 0 1.25em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 1.25em 0 -0.65em;
  }
  40% {
    box-shadow: 0 1.25em 0 0;
  }
}
